body {
    background-color: #f3f3f3;
}

#flash-message-container {
    position: absolute;
    width: 100%;
}

#flash-message-container div.alert {
    height: 35px;
    padding: 5px;
    text-align: center;
}

#copyright {
    padding: 15px;
}

#overview {
    height: 200px;
    padding: 40px;
}

#overview-logo {
    width: 300px;
}

#map {
    height: 600px;
    width: 100%;
    z-index: 5;
}

.map-infobox{
    overflow: hidden;
    width: 300px;
}

#create_event_btn {
    position: absolute;
    left: 50%;
    top:175px;
    z-index: 10;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.date {
    font-weight: bold;
}

.oauth-btn.google {
    width: 196px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
}

.oauth-btn.google {
    background: url('../images/google/btn_google_signin_light_normal_web.png') transparent 5px 50% no-repeat;
}

.oauth-btn.google:hover {
    background-image: url('../images/google/btn_google_signin_light_focus_web.png');
}

.oauth-btn.google:active {
    background-image: url('../images/google/btn_google_signin_light_pressed_web.png');
}

.form-inline .control-label{
    padding-right: 10px;
}