#overview {
    height: 250px;
    padding: 50px;
    background-color: #b182cb;
}

#map {
    height: 600px;
    width: 100%;
    z-index: 5;
}

#create_event_btn {
    position: absolute;
    left: 50%;
    top:207px;
    z-index: 10;
}

.btn-circle {
     width: 30px;
     height: 30px;
     text-align: center;
     padding: 6px 0;
     font-size: 12px;
     line-height: 1.42;
     border-radius: 15px;
 }