#flash-message-container {
    position: absolute;
    width: 100%;
}

#flash-message-container div.alert {
    height: 35px;
    padding: 5px;
    text-align: center;
}

#overview {
    height: 200px;
    padding: 40px;
}

#overview-logo {
    width: 300px;
}

#map {
    height: 600px;
    width: 100%;
    z-index: 5;
}

.map-infobox{
    overflow: hidden;
    width: 300px;
}

#create_event_btn {
    position: absolute;
    left: 50%;
    top:175px;
    z-index: 10;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.date {
    font-weight: bold;
}
