<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Ping{% endblock %}</title>
    {% stylesheets
    'assets/vendor/Materialize/dist/css/materialize.css'
    'bundles/akeneofrontoffice/css/main.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<nav>
    <div class="nav-wrapper  z-depth-1">
        <a href="#" class="brand-logo">Ping</a>
    </div>
</nav>
<body>

{% block body %}{% endblock %}
{% block javascripts %}

{% endblock %}
{% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/Materialize/dist/js/materialize.js'
    'assets/vendor/mustache.js/mustache.js'
    'assets/vendor/blueimp-md5/js/md5.js'
    'bundles/akeneofrontoffice/js/map.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
