{% extends '::base.html.twig' %}

{% block body %}
    <header class="grey lighten-2 z-depth-1">
        <div id="content">
            <h2>Let's meet up!</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </header>
    <div id="add_event_button">
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-2 tooltipped" data-position="right" data-delay="50" data-tooltip="Add your event!"><i class="material-icons" style="font-style: normal;">+</i></a>
    </div>
    <div id="map" class="z-depth-1"></div>

    <div class="event_info">

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 47.218505, lng: -1.544658},
                zoom: 8
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap">
    </script>
{% endblock %}


{% block add_event %}
{% endblock %}
