#map
{
    height: 600px;
    width: 1200px;
    margin-left:50%;
    position: relative;
    left: -600px;
}
#add_event_button
{
    text-align:center;
    position: relative;
    bottom: -27px;
}
.nav-wrapper
{
    padding-left: 10px;
}
